html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
scroll-container {
  scroll-behavior: smooth;
}

a{
  font-family: Felidae;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p{
  text-indent: 40px;
}

@font-face {	
	font-family: Eagle Lake;
	src: url(../fonts/EagleLake-Regular.ttf);
}

@font-face {	
	font-family: Felidae;
	src: url(../fonts/Felidae.ttf);
}

body{
  font-family: 'Source Serif 4', serif;
  font-size: 28pt;
  line-height: 1.3;
  word-spacing: 3px;
  background-color: #fff;
  margin: 0;
}


.container{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

ul{
  list-style-type: disc;
  padding-left: 75px;
  color:#eb4c00;
}

p{
  color: #000;
}

.header{
  width: 100%;
  height: 130px;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.header.active {
  background-color: #fff;
}

.header__logo img{
  position: absolute;
  z-index: 1;
  left: 38%;
  top: 27%;
  width: 360px;
  cursor: pointer;
}

.header__inner{
  font-size: 25pt;
  padding: 50px 0;
  margin-left: 80px;
}

.nav{
  display: flex;
  align-items: center;
}

.nav__reg{
  padding-left: 30%;
}

.nav__link{
  font-family: Felidae;
  color: #000;
  margin-left: 100px;
  transition: .5s;
}
.nav__link a{
  font-size: 25pt;
  font-family: Felidae;
  color: #000;
}

.nav__link:hover{
  color: #eb4c00;
}

.nav__link:first-child{
  margin-left: 0;
}

.login{
  color: #eb4c00;
  font-family: Eagle Lake;
  border: 3px solid #eb4c00;
  border-radius: 5px;
  padding: 8px 10px;
  transition: .4s;
}
.login:hover{
  color: #fff;
  background-color: #eb4c00;
}
.lang{
  transition: .4s;
  color: #000;
}
.lang:hover{
  color: #eb4c00;
}

.nav__lang{
  font-family: Felidae;
  color: #000;
  transition: .5s;
}


img{
  max-width: 100%;
}

.bg__img{
  padding-top: 80px;
  width: 100%;
}

.about__us{
  width: 100%;
}

.title{
  font-family: Felidae;
  color: #000;
  font-size: 60pt;
  text-align: center;
  padding-top: 120px;
}

.section{
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.section img{
  padding: 0 40px;
}

.text{
  margin: 0 40px;
}

.text__ll{
  margin-left: -45px;
}

li .text__r{
  margin-left: -40px;
}

li .text__l{
  margin: 0;
  margin-left: -40px;
}

.group__txt{
  padding-top: 10px;
}

.text__reg{
  text-align: left;
  text-indent: 20px;
}

.btn{
  display: flex;
  justify-content: center;
  width: 100%;
}

.but__link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.button{
  right: 10%;
  position: relative;
  font-family: Felidae;
  color: #fff;
  font-size: 34pt;
  background-color: #eb4c00;
  border: 0;
  padding: 10px 80px;
  border-radius: 5px;
  transition: .3s;
}

.button:hover{
  background-color: #cb4101;
}


.contacts{
  padding: 60px 0;
}

.contact{
  margin: 20px;
  display: flex;
  align-items: center;
}

.contact a{
  padding-left: 60px;
  color: #000;
  font-family: 'Source Serif 4', serif;
  transition: .5s;
}

.contact a:hover{
  color: #eb4c00;
}

.icon{
  width: 80px;
}


/* nav-toggle
================================= */

.nav-toggle {

  width: 30px;
  padding: 10px 0;
  display: none;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;

  right: 24px;
  z-index: 1;
}

.nav-toggle:focus {

  outline: 0;
}

.nav-toggle__item {

  display: block;
  width: 100%;
  height: 4px;

  background-color: #eb4c00;

  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
  margin: auto;

  transition: background .2s linear;

}

.nav.active {

  display: block;
}

.nav-toggle.active .nav-toggle__item {

  background: none;
  top:-30%;
}

.nav-toggle.active .nav-toggle__item::after {

  transform: rotate(45deg);
  top: 8px;
}

.nav-toggle.active .nav-toggle__item::before {

  transform: rotate(-45deg);
  bottom: 9px;
}


.nav-toggle__item::before,
.nav-toggle__item::after {

  content: "";
  width: 100%;
  height: 4px;

  position: absolute;
  left: 0;
  z-index: 1;

  background-color: #eb4c00;
  transition: transform .2s linear;
}

.nav-toggle__item::before {

  top: 8px;
}

.nav-toggle__item::after {

  bottom: 8px;
}

/* Media
========================== */
@media(max-width: 1860px){
  .header__inner{
    font-size: 24pt;
    margin-left: 80px;
    padding: 50px 10px;
  }
  .login{
    color: #eb4c00;
    font-family: Eagle Lake;
    border: 3px solid #eb4c00;
    border-radius: 5px;
    padding: 8px 10px;
    transition: .4s;
  }
}

@media(max-width:1800px){
  .header__inner{
    font-size: 22pt;
    margin-left: 60px;
    padding: 50px 10px;
  }

  .nav__reg{
    padding-left: 28%;
  }
}

@media(max-width: 1660px){

  .header{
    height: 120px;
  }

  .header__inner{
    font-size: 20pt;
    margin-left: 50px;
    padding: 40px 10px;
  }

  .header__logo img{
    top: 20%;
    width: 320px;
  }

  .title{
    padding-top: 120px;
  }
}

@media(max-width: 1600px){
  
  body{
    font-size: 26pt;
  }

  .header{
    height: 110px;
  }

  .header__logo img{
    width: 300px;
  }

  .header__inner{
    font-size: 20pt;
    margin-left: 50px;
    padding: 35px 10px;
  }

  .nav__reg{
    padding-left: 25%;
  }

  .title{
    padding-top: 110px;
  }

}

@media(max-width: 1500px){

  body{
    font-size: 22pt;
  } 

  .header__inner{
    font-size: 20pt;
    margin-left: 40px;
    padding: 32px 10px;
  }

  .header{
    height: 100px;
  }
  .nav__link{
    margin-left: 80px;
  }

  .nav__reg{
    padding-left: 27%;
  }

  .section img{
    width: 35%;
  }

  .title{
    font-size: 50pt;
    padding-top: 100px;
  }

  .button{
    font-size: 28pt;
    padding: 10px 70px;
  }

  .contact a{
    font-size:30pt;
  }
}


@media(max-width: 1400px){

  body{
    font-size: 18pt;
  }

  .header{
    height: 80px;
  }
  
  .header__inner{
    font-size: 17pt;
    padding: 20px 10px;
  }

  .header__logo img{
    left: 40%;
    top: 20%;
    width: 240px;
  }

  .title{
    font-size: 40pt;
    padding-top: 80px;
  }

  .nav__reg{
    padding-left: 30%;
  }

  .contact a{
    font-size:28pt;
  }
}

@media(max-width: 1340px){

  .header__logo img{
    left: 35%;
    top: 20%;
    width: 240px;
  }
  .nav__reg{
    padding-left: 27%;
  }
  .nav__link{
    margin-left: 60px;
  }
  .contact a{
    font-size:26pt;
  }
}

@media(max-width:1200px){

  body{
    font-size: 17pt;
  }

  .header__inner{
    font-size: 15pt;
    padding: 25px 10px;
    justify-content: center;
  }

  .nav__reg{
    padding-left: 350px;
  }

  .nav__reg{
    padding-left: 25%;
  }

  .title{
    font-size: 34pt;
  }

  .contacts{
    padding-bottom: 150px;
  }

  .button{
    font-size: 24pt;
    padding: 8px 65px;
  }

  .contact a{
    font-size:24pt;
  }
}

@media(max-width:1120px){

  body{
    font-size: 16pt;
  }

  .nav{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: right;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: #f67437;
    display: none;
}

.nav__link:hover{
  color: #fff;
}

.lang{
  padding-right: 10px;
  color: #000;
}
.lang:nth-child(2) {
  padding-right: 0;
}

.lang:hover{
  color: #fff;
}

.login{
  color: #fff;
  border: 0;
}

.login:hover{
  background: none;
  color: #000;
}

.nav__div{
  padding-right: 10px;
}

.nav__link {
  display: block;
  margin: 0;
  padding: 8px 10px;
}

.nav-toggle {
  display: block;
  top: 40%;
}


.button{
  font-size: 20pt;
  padding: 6px 60px;
}

.contact a{
  font-size:22pt;
}
}

@media(max-width:1000px){
  body{
    font-size: 14pt;
  }

  .header__logo img{
    left: 35%;
  }

  .text{
    margin: 0 30px;
  }

  .text__l{
    margin-left: 30px;
    margin-right: 0;
  }

  .text__ll{
    margin: 0 30px;
  }

  .button{
    font-size: 18pt;
    padding: 6px 60px;
    right: 0;
  }

  .contact a{
    font-size:20pt;
  }
}

@media(max-width:860px){

  body{
    font-size: 12pt;
  }

  .title{
    font-size: 30pt;
    padding-top: 100px;
  }


  .icon{
    width: 50px;
  }

  .button{
    font-size: 16pt;
    padding: 5px 55px;
    right: 0;
  }

  .contact a{
    font-size:17pt;
  }
}

@media(max-width:720px){
  
  body{
    font-size: 10pt;
  }

  p{
    text-indent: 10px;
  }

  ul{
    list-style: none;
  }
  .text {
    margin: 0 15px;
  }

   ul {
    padding-left: 65px;
   }
  .section img {
    padding: 0 20px;
  }

  .header__logo img{
    left: 30%;
  }

  .contact a{
    font-size:16pt;
  }

  .button{
    font-size: 14pt;
    padding: 4px 50px;
    right: -2%;
  }
}

@media(max-width:620px){
  
  body{
    font-size: 9pt;
  }
  .header{
    height: 80px;
  }

  .header__logo img{
    left: 33%;
    width: 200px;
  }

  .title{
    font-size: 27pt;
    padding-top: 80px;
  }

  .text {
    margin: 0 5px;
  }

   ul {
    padding-left: 65px;
   }

  .text__l {
    margin: 0;
    margin-left: 30px;
  }

  .section img {
    padding: 0 20px;
  }
}

@media(max-width:530px){

  body{
    font-size: 8pt;
  }

  p{
    text-indent: 10px;
  }

  ul {
    padding-left: 45px;
   }

   .text__l {
    margin-left: 5px;
  }

  .header__logo img{
    left: 30%;
    width: 170px;
  }

  .text {
    margin: 0 5px;
  }

  .title{
    font-size: 25pt;
  }

  .section img {
    padding: 0 15px;
  }

  .button{
    font-size: 12pt;
    padding: 4px 47px;
  }
  
}

@media(max-width:430px){

  body{
    font-size: 6pt;
  }

  .header__logo img{
    left: 28%;
    width: 160px;
  }

  .text {
    margin: 0 3px;
  }

  .group__txt{
    padding-top: 0;
  }

  .section img {
    padding: 0 20px;
  }

  .text__reg{
    text-indent: 10px;
  }

  .button{
    font-size: 9pt;
    padding: 3px 35px;
  }
  .contact a{
    font-size:13pt;
  }
}