body {

    margin: 0;
    font-family:'Open Sans', sans-serif;;

    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    background-color: #fff;
}

* ,
*:after,
*:before{

    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {

    margin: 0;
}

hr {

    color: #808080;
    opacity: .5;
}



/* Container
===================================== */

.container {

    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header
===================================== */

.header {

    width: 100%;
    padding-top: 30px;
    height: 100px;
    position: absolute;
    background-color: #fff;
 
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
}


.header__inner {

    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header__logo {

    display: flex;
    justify-content: space-between;
    margin-left: 25px;
}

.header__log {

    font-size: 42px;
    font-weight: 300;
    color: #000;

    padding-left: 5px;
    margin-top: -10px;
}

/* Nav */

.nav {

    display: flex;
    font-size: 20px;
    font-weight: 400;
}

.nav__link {

    color: #333;
    text-decoration: none;
    padding-right: 30px;
    opacity: .7;
    transition: opacity .2s linear;
}

.nav__link:hover {

    opacity: 1;
}


/* Intro
======================================= */

.intro {

    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 580px;
    width: 100%;

    background: url(img/bg.jpg)
    center no-repeat;
    background-size: cover;

    position: relative;
}

.intro.slick-slider {

    padding: 0 110px;
}

.intro__inner {

    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    position: relative;
}


.intro__img {

    display: block;

    min-width: 100%;
    top: 50%;
    right: 30%;
    z-index: 1;

    position: absolute;
    top: -100px;
}

.intro__txt {

    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
}

.intro__title {

    font-size: 40px;
    font-weight: 400;
    color: #fff;

}

.intro__suptitle {

    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}


.intro .slick-slider {

    padding: 0 110px;
}


.slick-arrow {

    display: block;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {

    outline: 0;
}

.slick-arrow::after {

    content: "";
    display: block;
    width: 18px;
    height: 18px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

    transform: rotate(45deg);
}

.slick-prev {

    left: 0;
    transform: rotate(-90deg);
}

.slick-next {

    right: 0;
    transform: rotate(90deg);
}


/* Btn
============================== */

.btn {

    font-size: 22px;
    font-weight: 400;

    text-decoration: none;
    color: #fff;
    padding: 7px 12px;
    border: 0;
    border-radius: 5px;
    background-color: #5094f2;
    cursor: pointer;
    transition: background.2s linear;
}

.btn:hover {

    background-color: #4784d8;
}



/* Services
======================================== */

.services {

    margin-top: 70px;
}


.services__inner {

    display: flex;
    flex-wrap: wrap;
}


.services__item {

    width: 33.33333%;
    text-align: center;
    padding: 0 30px;
}

.services__img {

    width: 186px;
    height: 186px;
}

.services__title {

    font-size: 20px;
    font-weight: 400;
    color: #5094f2;
    padding-top: 20px;
}

.services__suptitle {

    font-size: 14px;
    font-weight: 400;
    color: #808080;
}



/* Contact
================================== */


.cart {

    margin-top: 100px;
    margin-bottom: 50px;
}

.cart__inner {

    display: flex;
    flex-wrap: wrap;
}

.cart__item {

    width: 50%;
}

.cart__title {

    text-align: center;
    font-size: 42px;
    font-weight: 400;
    color: #333333;

    padding-bottom: 50px;
}

.cart__img {

    text-align: center;
}

.cart__photo {

    width: 370px;
    height: 280px;
}

.cart__suptitle {

    font-size: 26px;
    font-weight: 400;
    color: #333333;
    margin-top: 60px;
    margin-bottom: 20px;
}

.cart__txt {

    font-size: 14px;
    font-weight: 400;
    color: #808080;
    line-height: 2.5;
}

/* Footer
==================================== */

.footer {

    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__inner {

    text-align: center;
}

.footer__txt {

    font-size: 15px;
    font-weight: 400;
    color: #909090;
}

/* Burger
=============================== */

.burger {

    display: none;

    padding: 15px 5px;
    background:#5094f2;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.burger__item {

    display: block;

    width: 30px;
    height: 3px;

    background-color: #fff;
    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item::before,
.burger__item::after {

    content: "";

    width: 100%;
    height: 100%;
    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
    
}

.burger__item::before {

    top: -8px;
}

.burger__item::after {

    bottom: -8px;
}


@media (max-width:900px) {

     /* Nav */

     .nav {

        display: none;
        width: 100%;
        flex-direction: column;
        text-align: right;

        background-color: #fff;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav__link {

        padding-right: 10px;
    }
    
    .nav.show {

        display: flex;
    }

    .cart__item {

        width: 100%;
        text-align: center;
    }

    .burger {

        display: block;
    }
}


@media (max-width:820px) {


    /* Intro */

    .intro__img {

        display: none;
    }

    .intro__txt {

        position: static;
    }

    /* Service */
    
    .services__item {

        width: 100%;
        margin-bottom: 30px;
    }

    /* Cart */

    .cart {

        margin-top: 70px;
        margin-bottom: 30px;
    }

    /* Burger */

    .burger {

        display: block;
    }
}


@media (max-width:520px) {

    /* Intro */

    .intro__title {

        font-size: 30px;
    }


    /* Services */

    .services__img {

        width: 120px;
        height: 120px;
    }

    /* Cart */

    .cart {

        margin-top: 50px;
        margin-bottom: 20px;
    }

    .cart__title {

        font-size: 30px;
    }

    .cart__photo {

        width: 270px;
        height: 180px;
    }

    .cart__txt {

        line-height: 1.5;
    }
    
}