html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* ,
    *:before,
    *:after {
         box-sizing: border-box;
    }



	.container {

		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding:  0 15px;
	}




	/* Header
	==================================================== */

	.header {

		padding-top: 25px;
		width: 100%;
		height: 100px;

		background-color: #0d0d0d;

		position: fixed;
		z-index: 20;
	}

	
	.header__inner {

		display: flex;
		justify-content: space-between;
		align-items: center;
	}


	.header__logo {

		flex: 0 0 50px;
	}


	.header__logo i {

		max-width: 100%;
		font-size: 50px;
		color: rgb(134, 184, 124);

		opacity: .7;
		transition: opacity .2s linear;
	}


	.header__logo i:hover {

		opacity: 1;
	}


	.header__bonuses a {

		text-decoration: none;
	}

	.header__txt {
		
		text-transform: uppercase;
		color: #eba505;
		font-size: 18px;
		font-weight: 700;
	}

	.header__bonuses i {

		font-size: 18px;
		color: #eba505;
	}

	.header__bonuses {

		opacity: 0.7;
		transition: opacity 0.2s linear;
		cursor: pointer;
	}
	

	.header__bonuses:hover {

		opacity: 1;
	}


	.header__items {

		display: flex;
		align-items: center;
	}

	.header__items a {

		text-decoration: none;
	}

	.header__item {

		padding-left: 15px;
	}

	.header__country {

		opacity: .7;
		cursor: pointer;
		transition: opacity .2s linear;
	}

	.header__country:hover {

		opacity: 1;
	}


	.btn {

		display: inline-block;
		vertical-align: top;
		padding: 10px 15px;
	
		border: 1px solid rgb(134, 184, 124);
		border-radius: 20px;
	
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		transition: background .2s linear, color .2s linear;
	}
	
	.btn:hover {
	
		background-color: rgb(134, 184, 124);
		color: #fff;
	}

	.btn--red {

		background-color: rgb(134, 184, 124);
		border: 0;
		padding: 15px 35px;		
	}
	
			
	.btn--red:hover {
		background-color: rgb(108, 146, 100);
	}
	
	

	/* Intro
	================================= */

	.intro {

		display: flex;
        flex-direction: column;
        justify-content: center;
		height: 100vh;
		
		background:url(img/intro/background.jpg) 50%/ cover no-repeat ;
		background-attachment: fixed;	
	}



	.intro__item {

		color: #fff;
		margin: 0 auto;
		text-align: center;
	}


	.intro__title {

		font-size: 90px;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 3px 3px 2px #0d0d0d;

		cursor: pointer;
		opacity: .7;
		transition: opacity .2s linear, transform .2s linear;
	}


	.intro__title:hover {

		opacity: 1;
		transform: translate3d(-2px,-2px,0);
	}

	.intro__item .btn--red {

		background-color: rgb(134, 184, 124);
		border-color: rgb(134, 184, 124);
		color: #380b4f;
	}

	.intro__item .btn--red:hover {

		background-color: rgb(108, 146, 100);
	}


	.intro__item a {

		margin-top: 40px;
	}


	.intro__markers a {

		text-decoration: none;
		color: #fff;
		padding-left: 10px;

		opacity: 0.7;
		transition: opacity .2s linear;
	}

	.intro__markers a:first-child {

		padding-left: 0;
	}

	.intro__markers a:hover {

		opacity: 1;
	}

	.intro__markers {

		margin-top: 40px;
		font-size: 19px;
		font-weight: 300;	
	}


	.intro__txt {

		font-size: 18px;
		font-weight: 400;
		max-width: 700px;
		margin: 100px auto 0;
		text-shadow: 2px 2px 2px #0d0d0d;

		opacity: .7;
		transition: opacity .2s linear;
		cursor: pointer;
	}

	.intro__txt:hover {

		opacity: 1;
	}


	/* Section
	=========================================== */

	.section {

		width: 100%;

		background-color: #121212;
	}

	.section--first {

		background-color: #121212;
	}

	.section--second {

		background-color:#0c0c0c;
	}

	.section--third {

		background-color:#121212;
	}


	.section__inner {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.section__item {

		color: #fff;
	}

	.section__item--first {

		width: 50%;
	}

	.section__item--second {

		width: 50%;
		position: relative;
		
	}

	.section__title {

		font-size: 50px;
		font-weight: 500;
		padding: 40px 0;
	}

	.section__txt {

		font-size: 18px;
		font-weight: 400;
		padding-bottom: 40px;
	}

	.section__item a {

		margin-bottom: 40px;
	}

	.section__item img {

		position: absolute;
		bottom: 0;
		right: 100px;

		opacity: .7;
		transition: opacity .2s linear, transform .2s linear;
	}


	.section__item img:hover {

		opacity: 1;
		transform: translate3d(-3px,-3px,0);
	}




	/* Questions
	====================================== */

	.questions {

		background-color: #0c0c0c;
		padding-top: 50px;
		padding-bottom: 10px;
	}

	.questions__txt {

		font-size: 50px;
		font-weight: 700;
		color: #fff;
		padding-bottom: 20px;
	}



	/* Accordion
	=============================== */


	.accordion__item {

		border: 2px solid #404040;

		opacity: .7;
	}

	.accordion__item:hover {

		opacity: 1;
	}

	.accordion__item.active 
	.accordion__content {

		display: block;
	}

	.accordion__item.active
	.accordion__header {

		border-bottom-color:#404040;
	} 


	.accordion__item.active
	.accordion__title {

		color: #eba505
	}

	.accordion__item.active
	.accordion__show {

		
		font-weight: 300;
		color: #999999;
	}


	.accordion__header {

		padding: 15px 20px;
		border-bottom: 2px solid transparent;
		display: flex;
		justify-content: space-between;
		align-items: center;

		cursor: pointer;
	}


	.accordion__title {

		font-size: 20px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
	}


	.accordion__show {

		font-size: 18px;
		font-weight: 700;
		color: #fff;
		
	}


	.accordion__content {

		padding: 15px 20px;
		display: none;

		font-size: 15px;
		color: #fff;
		font-weight: 400;
		transition: all .3s linear;
	}


	/* Footer
	================================ */

	.footer {

		padding-top: 50px;
		padding-bottom: 20px;
		background-color: #121212;
	}

	.footer__inner {

		text-align: center;
	}

	.footer__title {

		font-size: 25px;
		font-weight: 500;
		color: #fff;
		padding-bottom: 20px;

		opacity: .7;
		transition: opacity .2s linear;
		cursor: pointer;
	}

	.footer__title:hover {

		opacity: 1;
	}


	.footer__social a {

		text-decoration: none;
		padding-left: 15px;
	}

	
	.footer__icon i{

		font-size: 30px;
		color: #fff;
		transition: color .2s linear, transform .2s linear;
	}

	.footer__icon i:hover {

		color: #eba505;
		transform: translate3d(-2px,-2px,0);
	}


	/* Burger
	===================================== */

	.header__burger {

		display: none;
	}




	@media (max-width:1025px){

		/* Intro */

		.intro__title{

			font-size: 80px;

			padding-top: 40px;
		}

		/* Section */

		.section__item img {

			right: 0;
		}
	}


	@media (max-width:766px) {


		/* Header */

		.header__burger {

			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			margin-right: 25px;
		}

		.header__burger span {

			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			top: 9px;

			transition: all .3s ease 0s;
		}


		.header__burger:before,
		.header__burger:after {

			content: "";
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			z-index: 21;

			transition: all .3s ease 0s;
		}

		.header__burger:before {

			top: 0;
		}

		.header__burger:after {

			bottom: 0;
		}

		.header__burger.active span {

			transform: scale(0);
		}

		.header__burger.active:before {

			transform: rotate(45deg);
			top: 9px;
		}

		.header__burger.active:after {

			transform: rotate(-45deg);
			bottom: 9px;
		}


		.header__items {

			display: block;
			text-align: center;

			background-color: #0d0d0d;
			border-radius: 5px;

			position: fixed;
			top: -100%;
			right: 0;
			padding: 100px 10px 0 0;
			z-index: 10;

			transition: all .3s linear;
		}

		.header__items.active {

			top: 0;
		}

		.header__item {

			padding-top: 10px;
		}

		.header__item:last-child {

			padding-bottom: 10px;
		}


		/* Intro */


		.intro__title {

			font-size: 60px;
		}


		/* Section */

		.section__item--second {

			display: none;
		}

		.section__inner {

			justify-content: center;
			text-align: center;
		}

	}



	@media (max-width:486px) {

		/* Intro */

		.intro__title {

			font-size: 40px;
		}

		.intro__txt {

			font-size: 12px;
		}

		/* Section */

		.section__title {

			font-size: 30px;
		}

		.section__txt {

			font-size: 14px;
		}
		
	}

	@media (max-width:400px) {

		.btn {

			font-size: 14px;
			padding: 8px 15px;
		}

		/* Intro */


		.intro__title {

			margin-top: 150px;
		}

		.intro__txt {

			margin-top: 20px;
		}


		/* Question */

		.questions__txt {

			font-size: 30px;
		}

		.accordion__title {

			font-size: 16px;
		}
	}