html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
input {
  outline: none;
}
html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a{
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:hover{
  color: #f35e49;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  background-color: #fff;
  font-family: 'Jost', sans-serif;
  margin: 0 auto;
}

.titles{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f1f1f1 repeat-x;
}

.title__item{
  cursor: pointer;
  font-size: 14pt;
  font-weight: 500;
  color: #333;
  padding: 3px 5px;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  overflow: hidden;
}

.head{
  position: fixed;
  width: 100%; 
  align-items:baseline;
  height: 60px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA3CAIAAABCVLduAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlJREFUeNq8w7cNwDAQBDDtP+/naPgKNe5NgGd3z19n5rO7saowM++IQHe/zQxV9RYRZGYkovcjwABh2qKRbrB2/gAAAABJRU5ErkJggg==) repeat-x;
  z-index: 100;
}

.header_inner{
  display: flex;
  align-items: center;
}

.monte{
  font-size: 20pt;
  font-weight: 700;
  padding-top: 15px;
  margin-left: 50px;
  color: #f35e49;
  cursor: pointer;
}

.time{
  color: #333;
  font-size: 12pt;
  font-weight: 500;
  padding-top: 18px;
  margin-left: 25%;
  cursor: pointer;
  z-index: 200;
}


/* Navig
=================================*/

.navig{
  display: none;
	justify-content: center;
  margin-right: 35px;
  font-size: 12pt;
}

.navig li {	
	list-style: none;
	margin-left: 15px;
	margin-top: 18px;
}

.navig a{
  padding-left: 10px;
}

.main{
  display: grid;
  padding: 70px 5px 20px;
  grid-template-columns: 15% 880px 10%;
  grid-template-rows: 1fr;
	grid-gap: 20px 10px;
	grid-template-areas:

  "navigation__left news advertising-2"
	"advertising weather advertising-2"
  "advertising banks advertising-2"
  "advertising car advertising-2"
	"advertising boats advertising-2"
  "advertising advertising-3 advertising-2"
  "advertising realty advertising-2"
  "advertising food advertising-2"
  "advertising poster  advertising-2"
  "advertising transport advertising-2"
  "advertising advertising-4  advertising-2"
  "advertising polyclinics advertising-2"
  "advertising job advertising-2"
  "footer footer footer";
}

.main div:first-child{
  padding: 5px;
}

.news{
  grid-area: news;
}

.weather{
  grid-area: weather;
}

.banks{
  grid-area: banks;
}

.realty{
  grid-area: realty;
}

.car{
  grid-area: car;
}

.boats{
  grid-area: boats;
}

.food{
  grid-area: food;
}

.job{
  grid-area: job;
}

.search{
  grid-area: search;
}

.advertising{
  grid-area: advertising;
}

.advertising-2{
  grid-area: advertising-2;
}

.advertising-3{
  grid-area: advertising-3;
}

.advertising-4{
  grid-area: advertising-4;
}

.footer{
  grid-area: footer;
}

.navigation__left{
  grid-area: navigation__left;
}
/* Search
=================================*/
.search{
  display: table;
}

.search__input-cell{
  display: table-cell;
}

.search__input, .search__btn{
  height:30px;
}

.search__input{
  width: 100%; 
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 1px 3px #eee inset;
  padding: 4px;
}

.search__input:focus{
  border: 2px solid #f35e49;
} 

.search__btn-cell{
  width: 1%;
  display: table-cell;
}

.search__btn{
  font-weight: 700;
  font-size: 11pt;
  margin-left: -35%;
  border: 2px solid #f35e49;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #f35e49;
  transition: .3s;
}

.search__btn:hover{
  border: 2px solid #a93f31;
  background-color: #a93f31;
}
/* News
=================================*/
.news__item{
  width: 100%;
  height: 100%;
}

/* Weather
=================================*/

.weather__item{
width: 100%;
height: 100%;
}

/* Bank
=================================*/
.bank__frame{
  width: 100%;
  border: 0;
  overflow: hidden;
  background-color:transparent;height:281px;
}

/* Section
=================================*/

.section_header{
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.section__title{
  font-size: 14pt;
  font-weight: 500;
  color: #333;
}

.section__items{
  display: flex;
  font-size: 11pt;
  font-weight: 400;
}

.section__item:first-child{
  border-bottom:2px solid #f35e49;
}

.section__item{
  margin-left: 20px;
}



/* Cards
=================================*/
.cards__display{
  display: block;
}

.cards{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card{
  position: relative;
  width: 24%;
  font-size: 11pt;
  font-weight: 400;
  border-bottom: 2px solid #fff;
  transition: .4s;
  padding-bottom: 10px;
}

.card:hover{
  transform: translate3d(-2px,-2px,0);
  border-bottom: 2px solid #f35e49;
}

.cards .card:first-child{
  padding: 0;
  padding-bottom: 10px;
}

.card__link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.card__picture{
  height: 110px;
}

.card__picture img{
  width: 100%;
  height: 100%;
}

.card__title, .card__price{
  margin: 6px;
}

.card__price{
  margin-bottom: 0;
}

/* Cars
=================================*/
.cards__moto{
  display: none;
}

.cards__spares{
  display: none;
}

/* Boats
=================================*/
.cards__yacht{
  display: none;
}

.cards__boatspares{
  display: none;
}

/* Realty
=================================*/
.cards__pushare{
  display: none;
}

.cards__sell{
  display: none;
}
/*Job
====================================*/

.vacancies{
  margin-left: 20px;
  border-bottom: 2px solid #fff;
}
.vacancies:active{
  border-bottom: 2px solid #f35e49;
}

.job__row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.job__col{
  margin-left: 10px;
}

.job__items .job__vacantion:first-child{
  padding: 0;
}

.job__vacantion{
  padding-top: 30px;
  text-align: left;
}

.vacation__title a{
  font-size: 14pt;
  font-weight: 500;
  color: #f35e49;
}

.vacation__title a:hover{
  color: #a93f31;
}

.vacation__desc{
  padding-top: 8px;
}


/* Transport
================================= */
.bus{
  display: block;
}
.avia{
  display: none;
}

th{
  padding: 12px 8px;
}

.table{
  width: 100%;
  font-size: 14pt;
  text-transform: uppercase;
}
.table tr:hover{
  background-color: #f4f4f4;
}
.table__top {
  font-weight: 600;
  background-color: #f35e49;
  color: #fff;
}

.table .table__top:hover{
  background-color: #f35e49;
}
.table tr{ 
  cursor: pointer;
}

.table__first{
  display: block;
}

.table__second{
  display: none;
}

.spoiler_arrow {
  cursor: pointer;
}

.spoiler_arrow svg {
  fill: #f35e49;
  width: 20px;
  margin: 10px;
}

.spoiler_arrow svg:hover{
  fill: #a93f31;
}
.second__arrow svg{
  rotate: 180deg;
}
.second__arrow{
  display: none;
  cursor: pointer;
}


/* Medicine
================================= */

td{
  padding: 12px 8px;
}


/* Footer
================================= */
svg{
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
}

.social {
  display: flex; 
}

.social--footer {
  justify-content: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: background.2s linear;
}

.social_icon{
  fill: #fff;
  transition: .3s;
}

.social__link:hover .social_icon{
  fill:#a93f31;
}

.footer {
  background-color: #f35e49;;
}

.footer__inner {
  padding: 70px 0;
  display: flex;
}

.footer__block {
  width: 33.33333%;
  text-align: center;
  padding: 15px;
}

.footer__title {
  font-size: 14pt;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__text{
  font-size: 14pt;
  font-weight: 500;
}

.mail{
  font-size: 16pt;
  font-weight: 500;
  color: #000;
  transition: .3s;
}

.mail:hover{
  color: #fff;
}

/* Copyright
========================== */

.copyright {
  padding: 20px 0;
  background-color: #a93f31;
}

.copyright__text {
  text-align: center;

}

.copyright__text span {
  color: #fff;
}

/* Media
================================= */

@media(max-width:1100px){
  
  .monte{
    font-size: 18pt;
  }

  .navig{
    font-size: 10pt;
  }

}