body {

    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    background-color: #fff;
}

* ,
*:after,
*:before{

    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {

    margin: 0;
}

p {

    margin: 0;
}

/* Container
=========================== */
.container {
    
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin:  0 auto;
}


/* Page
=========================== */

.page {

    overflow: hidden;
}
